AracKiralama.WebUI/AracKiralama.WebUI/Connected Services/CompanyWebService/CompanyWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType />
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompany">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Company">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CarCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyPoint" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="CompanyWebServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompanyWebServiceSoap" type="tns:CompanyWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyWebServiceSoap12" type="tns:CompanyWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyWebService">
    <wsdl:port name="CompanyWebServiceSoap" binding="tns:CompanyWebServiceSoap">
      <soap:address location="http://localhost:55500/CompanyWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyWebServiceSoap12" binding="tns:CompanyWebServiceSoap12">
      <soap12:address location="http://localhost:55500/CompanyWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>